services:

# 로컬 : 레디스만 띄우기
# 경로 : backend/compose.yaml
  redis:
    #    image: 'redis:latest' # latest : 가장 최신 버전의 Redis를 가져오라는 태그(tag) 요즘 안씀
    image: redis:7-alpine # alpine : Alpine Linux 기반 (초경량) 이미지" 라는 베이스 OS 종류
    container_name: mh-redis # 컨테이너 이름
    ports:
      - "6380:6379"

# 서버 : 레디스 + 백엔드 + Nginx 도커로 띄우기 !
# 경로 : 프로젝트 루트 (backend, frontend, nginx 보다 더 상단)
#  redis:
#    image: redis:7-alpine
#    container_name: mh-redis
#    restart: unless-stopped
#    ports:
#      - "6379:6379"

  # backend:
  #   build: ./mhbackend
  #   container_name: mh-backend
  #   restart: unless-stopped
  #   depends_on:
  #     - redis
  #   environment:
  #     SPRING_PROFILES_ACTIVE: prod
  #     SPRING_DATA_REDIS_HOST: redis
  #     SPRING_DATA_REDIS_PORT: 6379
  #     # 필요하면 아래도 추가
  #     # SERVER_PORT: 8080
  #   ports:
  #     - "8080:8080"

  # nginx:
  #   image: nginx:stable-alpine
  #   container_name: mh-nginx
  #   restart: unless-stopped
  #   depends_on:
  #     - backend
  #   ports:
  #     - "80:80"
  #   volumes:
  #     - ./mhNginx/default.conf:/etc/nginx/conf.d/default.conf:ro
  #     # ✅ 프론트 빌드 결과물을 nginx가 서빙하도록 연결
  #     - ./mhfrontend/dist:/usr/share/nginx/html:ro

#networks:
#  default:
#    name: mh-net